.RegistrationPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%; 
    background: white;
    border-radius:  10px;
    margin-bottom: 10%;
    padding: 10px;
    box-shadow: 10px 5px 5px rgba(98, 116, 120, 0.5);
    min-width: 400px;
    min-height: 400px;
}

.Text {
    font-size: 16px;
    color: black;
    font-family: 'Gill Sans', sans-serif;  
    margin: 15px;
    text-decoration: none;
}

.Navigition {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: black;
    font-family: 'Gill Sans', sans-serif; 
    width: 70%;
}