
.ButtonText {
    border: 1px solid grey;
    background: lightgray;
    font-size: 16px;
    color: black;
    font-family: 'Gill Sans', sans-serif;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 10px;
}

.ButtonIcon {
    border: none;
    background: inherit;
    min-width: 100px;
    max-width: 100px;
}

.Icon {
    width: 100%;
    height: 100%;
}