.Input {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: black;
    font-family: 'Gill Sans', sans-serif;
    margin: 5px;
}

.Error {
    color: red;
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
}

.InputContainer {
    display: flex;
}

.Container {
    display: flex;
    flex-direction: column;
    width: 80%;
}