.App {
  text-align: center;
  background: linear-gradient(to bottom right,#ced9db,#a8d8e3,#24ccf2 );
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




